<h1 class="mb-1 restaurant-show-title">編輯餐廳資料</h1>
<div class="container">
	<div class="row">
		<div class="col-md-10 col-12 mx-auto">
			<form action="/todos/{{todos._id}}/edit" method="POST">
				<div class="form-group">
					<input
						type="text"
						name="name"
						class="form-control"
						value="{{todos.name}}"
					/>
				</div>
				<div class="form-group">
					<input
						type="text"
						name="name_en"
						class="form-control"
						value="{{todos.name_en}}"
					/>
				</div>
				<div class="form-group">
					<input
						type="text"
						name="category"
						class="form-control"
						value="{{todos.category}}"
					/>
				</div>
				<div class="form-group">
					<input
						type="text"
						name="image"
						class="form-control"
						value="{{todos.image}}"
					/>
				</div>
				<div class="form-group">
					<input
						type="text"
						name="location"
						class="form-control"
						value="{{todos.location}}"
					/>
				</div>
				<div class="form-group">
					<input
						type="text"
						name="phone"
						class="form-control"
						value="{{todos.phone}}"
					/>
				</div>
				<div class="form-group">
					<input
						type="text"
						name="google_map"
						class="form-control"
						value="{{todos.google_map}}"
					/>
				</div>
				<div class="form-group">
					<input
						type="text"
						name="rating"
						class="form-control"
						value="{{todos.rating}}"
					/>
				</div>
				<div class="form-group">
					<textarea
						name="description"
						rows="5"
						class="form-control"
					>{{todos.description}}</textarea>

				</div>
				<button type="submit" class="btn btn-ok">編輯完成</button>
				<a href="/" class="btn btn-ok">回餐廳列表</a>
			</form>
		</div>
	</div>
</div>